{extend name="base" /}
{block name="pagestyles"}本页引用CSS文件{/block}
{block name="incss"}内联CSS脚本{/block}
{block name="content"}
	<div id="chartContainer" style="height: 300px; width: 80%;"></div>
{/block}

{block name="pagescripts"}
	<script src="/public/assets/js/jquery.canvasjs.min.js"></script>
{/block}

{block name="inscripts"}
	<script>	
		window.onload = function () {
			var dataPoints = [];
			$.post("json",'',function(data){
				$.each(JSON.parse(data), 
					function(key, value){
        				dataPoints.push({y:parseInt(value[0]), label:value[1]});
					}
				);
			
			var chart = new CanvasJS.Chart("chartContainer", {
				title:{
					text: "缴费平台活跃户数"              
				},
				animationEnabled: true,
 				animationDuration: 2000,
				height:560,
				dataPointMaxWidth: 20,
				theme: "theme1",
				exportFileName: "Range Spline Area",  //Give any name accordingly
				exportEnabled: true,
				 data: [{
			     	type: "column",
			        dataPoints : dataPoints,
			     }]
			    });
			chart.render();
			});
		}
			

	</script>
{/block}
